* {
    box-sizing: border-box;
  }
.contenedor{
display: flex;
flex-direction: row;
}

#rojo{
background: red;
border-radius: 50%;
width: 100px;
height: 100px;
}

#azul{
    background: blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
    
#verde{
    background: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}